@charset "utf-8";
/* CSS Document */
html,body,div,span,applet,object,iframe,table,caption,tbody,tfoot,thead,tr,th,td,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,dl,dt,dd,ol,ul,li,fieldset,form,label,legend
	{
	vertical-align: baselinebaseline;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	color: #e3e3e3;
}

* {
	margin: 0;
	padding: 0;
}

:focus {
	outline: 0;
}

body {
	font-size: 12px;
	font-family: 宋体;
	background: #000;
}

ol,ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption,th,td {
	font-weight: normal;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: "";
}

blockquote,q {
	quotes: "" "";
}

button {
	cursor: pointer;
	outline: none;
}

h1 {
	font-size: 14px;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 13px;
}

strong {
	font-weight: bold;
}

#wrap {
	width: 1002px;
	margin: 0 auto;
}

.master {
	width: 1002px;
	height: 670px;
	position: relative;
	background: url(../images/db.png) no-repeat bottom;
	overflow: hidden;
}

.logo {
	width: 280px;
	height: 112px;
	background: url(../images/logo1_pic.png) no-repeat;
	position: absolute;
	top: 0px;
	right: 150px;
	overflow: hidden;
	padding: 45px 50px 10px;
}

.phone {
	width: 203px;
	height: 293px;
	background: url(../images/phone.png) no-repeat;
	position: absolute;
	top: 90px;
	left: 190px;
	padding: 100px 20px 155px 20px;
}

.container {
	width: 370px;
	height: 280px;
	background: #1e2526;
	position: absolute;
	top: 170px;
	left: 433px;
	padding: 20px 10px 20px;
	overflow: hidden;
}

.nr {
	width: 370px;
	height: 230px;
	overflow: hidden;
}

.nr p {
	line-height: 25px;
	text-indent: 2em;
	color: #e3e3e3;
}

#iptPhoneNumber {
	line-height: 35px;
	height: 35px;
	border: 1px #ccc;
	color: #666;
	font-size:14px;
	vertical-align: middle;
}

#btnPhoneCall {
	border: 0;
	height: 35px;
	width: 35px;
	display: inline;
	padding: 0;
	background: url(../images/phonecall.png) no-repeat;
	vertical-align: middle;
}

.xiazai {
	width: 300px;
	height: 50px;
	margin: 5px 35px;
}

.xiazai  li {
	float: left;
	padding: 0 5px;
}

.logo2 {
	width: 180px;
	height: 52px;
	overflow: hidden;
	position: absolute;
	right: 40px;
	top: 600px;
}

.footer {
	width: 1002px;
	height: 30px;
	overflow: hidden;
	text-align: center;
	line-height: 30px;
}