* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 12px;
	font-family: helvetica;
	background-color: #000;
	color: #FFF;
	padding: 5px;
	-webkit-text-size-adjust:none;
}

a {
	color: #fff;
	text-decoration: none;
}

.title {
	margin-bottom: 5px;
}

.long_title {
	font-size: 16px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.content {
	padding: 5px;
}

.detail,
.info div {
	overflow: auto;
}

.image {
	width: 120px;
	margin-right: 5px;
}

.play {
	background-image: url("../images/play.png");
	display:inline-block;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 95px;
    margin: 20px 0 0 0;	
}

.episode {
	border: #FFF 1px solid;
	margin: 10px 0;
	background-color: #666;
	list-style-type: none;
	overflow: auto;
}

.episode li {
	list-style-type: none;
	margin: 8px 0;
	overflow: auto;
}

.episode li a {
	margin: 0 10px;
	display: block;
	float: left;
	width: 50px;
	
}

.product {
	margin: 10px 0;
	background: #666;
	padding: 5px;
}

.footer {
	background: #666;
	margin-top: 10px;
	padding: 20px;
	text-align: center;
}

.download a img {
	margin: 10px 0 0 0;
}

